html {
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background-color: var(--body-bg);
	margin: 0;
	font-size: 1rem;
}

#wrapper {
	background-color: var(--wrapper-bg);
	border: thin solid var(--wrapper-border);
	border-radius: 0.125rem;
	color: var(--wrapper-fg);
	display: flex;
	flex-wrap: wrap;
	max-width: 75rem;
	margin: 0.5rem auto;
}

#wrapper a {
	color: var(--wrapper-fg);
}

#wrapper::after {
	content: "";
	flex: 0 0 100%;
	height: 0;
}

#wrapper > #content {
	flex: 3;
	overflow: auto;
	padding: 1rem;
	text-wrap: balance;
	word-wrap: break-word;
}

#wrapper > #pages {
	flex: 1;
}

#wrapper > #pages ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#wrapper > #footer {
	color: var(--footer-fg);
	flex: 1;
	font-size: 0.625rem;
	order: 1;
	padding: 0.5rem;
	text-align: right;
}

#wrapper > #footer a {
	color: var(--footer-fg);
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0.5rem 0 0 0;
}

h1 {
	border-bottom: thin solid var(--borders);
}

code, pre {
	background-color: var(--code-bg);
	border-radius: 0.125rem;
	font-family: monospace;
	font-size: 0.75rem;
	line-height: 1rem;
	padding: 0.125rem 0.25rem;
}

img {
	max-width: 54rem;
}

hr {
	border: 0;
	border-top: thin solid var(--borders);
}

.last-modify {
	border-top: thin solid var(--borders);
	color: var(--last-modify-fg);
	font-size: 0.75rem;
	margin-top: 1rem;
	padding-top: 0.25rem;
	text-align: right;
}
