body {
    --body-bg: #002b36;
    --wrapper-bg: #002b36;
    --wrapper-border: #103843;
    --wrapper-fg: #eee;
    --footer-fg: #FFFFFF40;
    --borders: #103843;
    --code-bg: #103843;
    --last-modify-fg: #FFFFFF40;
}